* {
    font-family: 'Lato', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    height: 100vh;
    width: 100vw;
}

.row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.canvas-check {
    color: black;
    height: 0;
    visibility: hidden;
    opacity: 0%;
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

@media screen and (max-width: 450px) {
    .canvas-check {
        height: 10%;
        visibility: visible;
        opacity: 100%;
    }
}